<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>HELLO WORLD</H1>
    <H5>SYNNEFFO SOLUTIONS</H5>
    <H3>COURSES OFFERED</H3>
    <ul>
        <li>PYTHON</li>
        <li>JAVA</li>
        <li>JAVASCRIPT</li>
    </ul>
    <h1>click here</h1>
    <a href="{% url 'index1'%}">index1</a>
    <a href="{% url 'index2'%}">index2</a>
    <a href="{% url 'index3'%}">index3</a>

 
</body>
</html>